@font-face {
  font-family: Montserrat;
  src: url("/assets/font/Montserrat/Montserrat-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Montserrat;
  src: url("/assets/font/Montserrat/Montserrat-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: Oswald;
  src: url("/assets/font/Oswald/Oswald-Medium.ttf");
  font-weight: 500;
}

body {
  background-color: #ffffff;
  font-family: Montserrat;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  margin: auto;
  max-width: 1367px;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 5;
}

.menu {
  padding-left: 0;
  margin-left: 84px;
  margin-top: 50px;
  list-style-type: none;
  font-size: 18px;
  font-weight: 500;
}

.menu a {
  text-decoration: none;
  color: #060606;
}

.menu li {
  display: inline;
  margin-right: 35px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu-lang {
  margin-top: 50px;
  margin-left: 51px;
  font-size: 18px;
}

.header {
  display: flex;
}

.header-logo {
  margin-left: 63px;
}

.video {
  position: relative;
  margin-top: 2px;
}

#border1 {
  position: absolute;
  z-index: 1;
  width: 100%;
}

#video-item-image {
  z-index: 1;
  width: 100%;
  height: 722px;
  margin-top: 44px;
}

#video-item-play {
  position: absolute;
  top: 45.1%;
  left: 45.5%;
}

.text-section {
  margin-top: 150px;
  margin-bottom: 150px;

  display: flex;
  justify-content: center;
}

.text-section-item {
  height: 114px;
  width: 654px;

  text-align: center;
  color: #2f4858;
  font-size: 18px;
}

.gallery {
  position: relative;
  height: 355px;
  max-width: 100%;
}

.gallery-item {
  /* position: absolute; */
  display: flex;
  /* justify-content: flex-end; */

  z-index: 2;
}

.gallery-item-duo {
  display: flex;
  height: 364px;
}

.gallery-item-vertical {
  display: flex;
  flex-direction: column;
}

.gallery-item-solo {
  height: 364px;
}

.one {
  width: 298px;
  height: 180px;
}

.two {
  width: 298px;
  height: 180px;
}

#zanda {
  width: 100%;
}
#meita {
  width: 100%;
}
#alina {
  width: 100%;
}
#sibilla {
  width: 100%;
}
#anda {
  width: 100%;
}

#border2 {
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 328px;
}

#border3 {
  position: absolute;
  z-index: 1;
  width: 100%;
  top: -10px;
}

.questions {
  margin-top: 175px;
  display: flex;
  justify-content: space-around;

  font-family: Oswald;
  font-weight: 500;
  font-size: 24px;
  color: #2f4858;
}

.question-left {
  /* margin-right: 190px; */
  text-align: center;
}

.question-right {
  text-align: center;
}

.questions button {
  background: #ffa800;
  color: #ffffff;

  border: 0;
  margin-top: 50px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 18px;
  border-radius: 50px;
  width: 230px;
  height: 50px;
}

.questions button:hover {
  background: #e69c08;
  cursor: pointer;

  transition: linear 0.3s;
}

.form {
  margin-top: 150px;
  text-align: center;
}

.form h1 {
  font-family: Oswald;
  font-weight: 500;
  font-size: 30px;
  color: #2f4858;
}

.form-item {
  margin-top: 55px;
}

.form-duo {
  width: 296px;
  height: 43px;
}

.form-style {
  padding-left: 14px;
  background: #c4c4c466;
  border: 0px;
  border-radius: 6px;

  font-family: Montserrat;
  font-weight: 400;
  font-size: 18px;
}

::placeholder {
  color: #2f4858;
}

.form-block-one {
  height: 43px;
  width: 612px;
  margin-top: 15px;
}

.form-text {
  height: 232px;
  width: 612px;
  margin-top: 15px;

  resize: none;
}

textarea {
  padding-top: 12px;
  margin-top: 15px;
  width: 612px;
  height: 232px;
  resize: none;
}

.form-footer-text {
  margin-left: auto;
  margin-right: auto;
  width: 612px;
  text-align: left;
  margin-top: 15px;

  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  color: #2f4858;
}

.form-footer-check {
  margin-left: auto;
  margin-right: auto;
  width: 612px;

  margin-top: 15px;

  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  color: #2f4858;

  display: flex;
}
.form-footer-check input {
  margin-right: 20px;
}
.form-footer-check p {
  padding-top: 16px;
}

.form-btn {
  text-align: center;
}

.send-btn {
  width: 182px;
  height: 62px;
  background: #ffa800;
  color: #ffffff;

  border: 0;
  margin-top: 50px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 24px;
  border-radius: 50px;
}

.send-btn:hover {
  background: #e69c08;
  cursor: pointer;

  transition: linear 0.3s;
}

.footer {
  margin-top: 150px;
  text-align: center;
  position: relative;
}

#footer-two {
  position: absolute;
  top: 92.5%;
  left: 0%;
  z-index: 1;
  width: 100%;
}

#footer-two-add {
  position: absolute;
  top: 99.5%;
  left: 0%;
  z-index: 1;
  width: 100%;
}
#footer-one {
  width: 100%;
  z-index: 1;
}

.footer-top {
  position: absolute;
  z-index: 2;
  top: 5%;
  left: 11%;
  /* width: 100%; */
}

.footer-top p {
  margin-top: 100px;
  font-family: Oswald;
  font-weight: 500;
  font-size: 24px;
  color: #2f4858;
}

.footer-top-logos {
  margin-top: 85px;
  display: flex;
  justify-content: space-between;
}

.footer-top-logos img {
  margin-right: 85px;
}
.footer-bot {
  position: absolute;
  z-index: 2;
}

.footer-wrapper {
  display: flex;

  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 20px;
  max-width: 100%;
}

.footer-wrapper img {
  margin-right: 137px;
  padding-bottom: 55px;
  padding-left: 50px;
}

.footer-menu {
  margin-right: 82px;
}
.Fmenu {
  list-style-type: none;
  font-family: Montserrat;
  font-size: 18px;
}

.Fmenu li {
  margin-bottom: 21px;
}
.Fmenu li:last-child {
  margin-bottom: 0;
}

.Fmenu a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
}

.footer-rekv {
  font-family: Montserrat;
  font-weight: 500;
  color: #ffffff;
  font-size: 18px;
  margin-right: 66px;
}
.font-rekv h2 {
  font-size: 24px;
}
.footer-rekv p {
  margin-bottom: 10px;
}
#p1 {
  margin-top: 22px;
}

.footer-info {
  font-family: Montserrat;
  font-weight: 500;
  color: #ffffff;
  font-size: 18px;
  padding-right: 50px;
}
.font-info h2 {
  font-size: 24px;
}
.footer-info p {
  margin-bottom: 10px;
}
.footer-downside {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  font-size: 14px;
}

.socials {
  margin-top: 50px;
  display: flex;
  position: absolute;
  left: 91%;
  top: 50%;
}
.socials #face {
  background-image: url("/assets/img/face.svg");
  background-size: cover;
  display: block;
  width: 36px;
  height: 36px;
}
.socials #inst {
  background-image: url("/assets/img/inst.svg");
  background-size: cover;
  display: block;
  width: 36px;
  height: 36px;
}
